---
import 'dotenv/config';
import 'axios';
import Layout from '@/layouts/Layout.astro';

import {MathJax} from "@/components/MathJax";
---

<Layout title="Quizzes">
    <main>
        <h1>Quizzes</h1>
        <div>
            <MathJax client:only="react" />
        </div>
    </main>
</Layout>