---
import 'dotenv/config';
import 'axios';
import Layout from '@/layouts/Layout.astro';

const DOMAIN = import.meta.env.DOMAIN;

const response = await fetch(`${DOMAIN}/articles/`);
const data = await response.json();
---

<Layout title="Articles">
    <h1>Articles</h1>
    <div>
        {data.map(article => (
                <div class="search-result">
                    <a href=`/articles/${article.article_id}`>
                        <h2>{article.title}</h2>
                    </a>
                    <p>{article.content.substring(0, 100)}...</p>
                </div>
        ))}
    </div>
</Layout>

<style>
    .search-result {
        margin-top: 20px;
        margin-bottom: 20px;
    }
</style>