---

import Layout from "../../../layouts/Layout.astro";

import {RichTextarea} from "@/components/ui/richtextarea";
import {Input} from "@/components/ui/input";
import {Button} from "@/components/ui/button";
---
<Layout title="New Article">
    <form>
        <h1>New Article</h1>
        <label for="title">Title
            <Input name="title" type="text" />
        </label>
        <br>
        <label for="content">Content
            <RichTextarea name="content" />
        </label>
        <br>
        <Button>Submit</Button>
    </form>
</Layout>